:root {
  --checkbox-size: 24px;
  --checkbox-size-small: 16px;
}

span.checkbox {
  display: block;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 0;
  padding: 0;
  position: relative;
}

span.checkbox:has(input[type="checkbox"]:disabled) {
  background-color: var(--color-secondary-background);
}

span.checkbox.small {
  width: var(--checkbox-size-small);
  height: var(--checkbox-size-small);
}

input[type="checkbox"] {
  /* Hide actual checkbox */
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  background-size: 0px;
  background-position: center;
  background-repeat: no-repeat;
  animation: bg-animation-debounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

input[type="checkbox"].small {
  width: var(--checkbox-size-small);
  height: var(--checkbox-size-small);
}

/* check-mark */
input[type="checkbox"]::before {
  content: "";
  width: var(--checkbox-size);
  height: var(--checkbox-size);
}

/* change background when clicked */
input[type="checkbox"]:checked {
  animation: bg-animation-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  cursor: default;
}

.checkbox .check {
  cursor: pointer;
  position: absolute;
  top: 0;
  fill: var(--color-secondary);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  z-index: 9999;
  margin: -1px;
  pointer-events: none;
  transform: scale(1);
  animation: bg-animation-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: 120ms transform ease-in-out;
}

.checkbox.small .check {
  width: var(--checkbox-size-small);
  height: var(--checkbox-size-small);
}

span.checkbox:has(input[type="checkbox"]:disabled) .check {
  fill: var(--color-irrelevant);
  cursor: default;
}

span.checkbox:has(input[type="checkbox"]:not(:checked)) .check {
  cursor: default;
  transform: scale(0);
  animation: bg-animation-debounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: 120ms transform ease-in-out;
}

@keyframes bg-animation-bounce {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.65);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bg-animation-debounce {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.65);
  }

  100% {
    transform: scale(1);
  }
}

@media (prefers-color-scheme: light) {
  input[type="checkbox"] {
    background-size: 0px;
  }
}
