.header {
  background-color: var(--color-primary);
}

.header .text {
  color: var(--color-background);
  font-style: italic;
  flex-grow: 1;
}

.header .logo-container {
  height: 44px;
  overflow-y: clip;
}

.header .red {
  background-color: var(--color-secondary);
}

.header .blue {
  background-color: var(--color-background);
}

.header .bottom-bar {
  height: var(--spacing-smaller);
  width: 100%;
  margin-bottom: var(--spacing-smaller);
}

.header .text {
  margin-bottom: var(--spacing-smaller);
  margin-top: var(--spacing-smaller);
  margin-left: var(--spacing-smaller);
}

.header .logo {
  width: 9px;
  height: 60px;
  margin-top: calc(var(--spacing-smaller) * -1);
  margin-left: var(--spacing-smaller);
  margin-right: 1px;
  transform: rotate(15deg);
}

.header .logo:first-of-type {
  margin-left: var(--spacing);
}

.header .logo:last-of-type {
  margin-right: var(--spacing);
}

.header .header-buttons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}

.header .header-buttons .icon {
  fill: white;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header .header-buttons .icon.export {
  margin-right: var(--spacing);
}
