:root {
  --total-height: 21px;
  --thumb-size: 20px;
  --track-height: 10px;
  --range-background-color: var(--color-background);
  --track-margin-top: 1px;
}

input[type="range"]::-moz-range-track {
  height: var(--track-height);
  background: var(--range-background-color) !important;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  margin-top: var(--track-margin-top);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: var(--track-height);
  background: var(--range-background-color) !important;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  margin-top: var(--track-margin-top);
}

input[type="range"]::-webkit-progress-value {
  background-color: red;
}

input[type="range"]::-moz-progress-value {
  background-color: red;
}

input[type="range"]::-moz-range-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: var(--thumb-size);
  width: var(--thumb-size);
  background-color: #fff !important;
  border-radius: 50%;
  border: 1px solid var(--color-primary);

  margin-top: -3px;
}

input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: var(--thumb-size);
  width: var(--thumb-size);
  background-color: #fff !important;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  margin-top: -6px;
}

input[type="range"]:active::-moz-range-thumb {
  border: 1px solid var(--color-secondary);
}

input[type="range"]:active::-webkit-slider-thumb {
  border: 2px solid var(--color-secondary);
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;

  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;

  /* track */
  height: var(--total-height);
  overflow: hidden;
}
