.schedule-row {
  width: 100%;
}

.schedule-row .image {
  max-width: 80px;
}

.schedule-row .others {
  max-width: 100px;
}

.schedule-row .others .row {
  column-gap: var(--spacing-small);
}

.schedule-row input {
  width: 16px;
  height: 16px;
}
