.series-row > * {
  min-width: none !important;
}

.series-row .text {
  margin-top: 2px;
}

.series-row .class {
  max-width: fit-content !important;
}

.series-row .main {
  flex: 1;
  max-width: none;
}

.series-row .others .row {
  column-gap: var(--spacing);
}

.series-row .car-row {
  padding: 0;
}

.series-row .track-row {
  padding: 0;
}

.series-row .details {
  overflow: hidden;
  display: none;
}

.series-row .details.expanded {
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: all 500ms;
}

.series-row .details.collapsed {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 500ms;
}

.series-row .car-row {
  padding-right: var(--spacing);
}

.series-row .car-row:hover {
  background-color: var(--color-row-list-odd-hover);
}

.series-row .track-row {
  padding-right: var(--spacing);
}

.series-row .track-row:hover {
  background-color: var(--color-row-list-odd-hover);
}

.series-row .details {
  margin-bottom: var(--spacing-small);
}

.series-row .details > .row > .column {
  gap: var(--spacing-small);
}

.series-row .column .list-row {
  margin-left: var(--spacing-larger);
}

.series-row .details > .row > .column > .text {
  margin-top: var(--spacing);
  margin-left: var(--spacing-larger);
}
