.text {
  display: flex;
}

.text.nowrap {
  white-space: nowrap;
}

.text.size-small {
  font-size: var(--font-small);
  line-height: var(--font-small);
}

.text.size-regular {
  font-size: var(--font-regular);
  line-height: calc(var(--font-regular) + var(--spacing-smaller));
}

.text.size-large {
  font-size: var(--font-large);
  font-weight: bold;
  line-height: var(--font-large);
}

.text.relevance-important {
  color: var(--color-text);
  font-weight: bold;
}

.text.relevance-regular {
  color: var(--color-text);
}

.text.relevance-irrelevant {
  color: var(--color-irrelevant);
}

.text.relevance-error {
  color: var(--color-error-text);
  background-color: var(--color-error);
  padding-top: var(--spacing-smaller);
  padding-bottom: var(--spacing-smaller);
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  border: 1px solid var(--color-error-text);
}

.text.relevance-placeholder {
  color: var(--color-text);
  opacity: 0.5;
}

.text.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
}