.track-row {
  column-gap: var(--spacing-small);
  max-width: 100%;
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
  display: flex;
  flex-grow: 1;
}

.track-row .main {
  flex-grow: 1;
}

.track-row .price {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  text-align: end;
  align-items: end;
}

.track-row .others {
  align-items: end;
}

.track-row .others > .row {
  gap: var(--spacing-small);
}

.track-row .others .checkbox-container {
  display: block;
  width: 20px;
}

.track-row .others .row .text {
  width: 25px;
  justify-content: end;
}

.track-row .class {
  max-width: fit-content;
}
