.warning {
  background-color: var(--color-warning-background);
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
  padding-left: var(--spacing-larger);
  padding-right: var(--spacing-larger);
  border-bottom: 1px solid var(--color-border);
  height: fit-content;
  flex-grow: 0;
}

.warning .warning-icon {
  margin-right: var(--spacing);
  width: 36px;
  height: 36px;
}

.warning .close {
  width: 16px;
  cursor: pointer;
}

.modal div.form .text.text.relevance-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal form.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-small);
}

.modal .form input {
  width: 100%;
  min-width: 250px;
  margin-bottom: var(--spacing-smaller);
}

.modal .form .row .text {
  margin-right: var(--spacing-small);
}

.modal .form .text.relevance-error {
  margin-bottom: var(--spacing);
}

.modal .qr-code-ready {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .qr-code-ready img.qr-code {
  width: 200px;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.modal .qr-code-ready .text:not(.info) {
  margin-top: var(--spacing);
}
