body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
  overflow-y: initial;
}

:root {
  font-family: "Nunito Sans", "Helvetica Neue", Calibre, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: #1f1f22;
  --color-background-transparent: #28272e88;
  --color-secondary-background: #28272e;
  --color-primary: #87a0c4;
  --color-icon-primary: #252285;
  --color-secondary: #e05b5b;
  --color-irrelevant: #627288;
  --color-border: #36363a;
  --color-text: #ffffff;
  --color-menu-background: #050114;
  --color-highlight: #dedfe9;
  --color-icon: #4e5a6b;
  --color-row-list-odd: #28272e;
  --color-row-list-odd-hover: #312f38;

  --color-custom-default-1: #b95d5d;
  --color-custom-default-2: #9ea04b;
  --color-custom-default-3: #4d9248;
  --color-custom-default-4: #3b8899;
  --color-custom-default-5: #893992;

  --color-error-background: #ebc7c7;
  --color-error-text: #683827;

  --color-success-background: #afe0af;
  --color-success-text: #1e741e;

  --color-warning-background: #14141688;
  --color-warning-text: #77700c;

  --spacing-smaller: 4px;
  --spacing-small: 8px;
  --spacing: 16px;
  --spacing-large: 24px;
  --spacing-larger: 32px;

  --font-small: 10pt;
  --font-regular: 12pt;
  --font-large: 20pt;

  --max-width-for-phones: 992px;

  overflow: hidden;
  color-scheme: dark light;
  color: var(--color-primary);
  background-color: var(--color-background);
}

#root {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
  font-size: var(--font-regular);
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  background: var(--color-border);
  border: none;
  height: 1px;
  margin: 0;
}

p {
  margin: 0;
}

svg {
  display: flex;
  fill: var(--color-icon);
  aspect-ratio: 1 / 1;
}

.main-column {
  width: 100%;
  overflow: hidden;
}

.side-bar {
  min-width: 250px;
  flex: 0;
  padding-top: var(--spacing-small);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  border-right: 1px solid var(--color-border);
  min-height: 100%;
}

.content {
  max-width: 100%;
  max-height: 100%;
  padding-top: var(--spacing-small);
  overflow: auto;
}

.content .text.size-large.relevance-important {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-border);
}

.flip-horizontal {
  transform: scaleX(-1);
}

@keyframes animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animation-bounce {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fffcfc;
    --color-background-transparent: #e1e3f388;
    --color-secondary-background: #ebecf3;
    --color-primary: #1a4785;
    --color-icon-primary: #a8a5ef;
    --color-secondary: #db1e1e;
    --color-irrelevant: #4e6483;
    --color-border: #c4c7db;
    --color-text: #030303;
    --color-menu-background: #f2f3f8;
    --color-highlight: #dedfe9;
    --color-icon: #1a4785;
    --color-row-list-odd: #eef3f7;
    --color-row-list-odd-hover: #d7e1e9;
    --color-warning-background: #f9f1e7;

    --color-custom-default-1: #b95d5d;
    --color-custom-default-2: #9ea04b;
    --color-custom-default-3: #4d9248;
    --color-custom-default-4: #3b8899;
    --color-custom-default-5: #893992;
  }
}
