.season-page {
  overflow: hidden;
  max-height: 100%;
}

.season-page .filter input[type="range"] {
  margin-bottom: var(--spacing);
}

.season-page .content .schedule-row.subtitle {
  padding-top: 0;
  padding-bottom: 0;
}

.season-page .content .list {
  margin-top: var(--spacing);
}

.season-page .content .list .schedule-row .others-subtitle span {
  width: 16px;
}

.season-page .side-bar .row {
  flex-grow: initial;
}

.season-page .side-bar .row .checkbox {
  margin-right: var(--spacing-small);
}

.season-page .side-bar .row .text.size-small {
  margin-top: 2px;
}
