.summary-page {
  overflow: hidden;
  max-height: 100%;
}

.summary-page .content .list {
  margin-top: var(--spacing);
}

.summary-page .content .list.two-columns {
  gap: var(--spacing);
}

.summary-page .content .list.two-columns div {
  width: 100%;
}

.summary-page .content .list.two-columns div {
  background-color: var(--color-background);
}

.summary-page .content .list div.subtitle:has(.text.relevance-important):not(:first-child) {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-small);
}

.summary-page .content .side-bar {
  padding-top: var(--spacing);
  min-height: 100%;
}

.summary-page .content .side-bar .row .checkbox {
  margin-right: var(--spacing-smaller);
}

.summary-page .content .side-bar .row {
  margin-top: var(--spacing);
}

.summary-page .content .subtitle {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.summary-page .content .best-buy .list .others-subtitle span {
  width: 25px;
  text-align: end;
}

.summary-page .title {
  margin-top: var(--spacing);
}
